<div class="row">
  <div class="span8">
    <%= raw @page.part_with_title("Obsah").content %>
  </div>
  <div class="span4 text-align-justify">
    <%= raw @page.part_with_title("O festivalu").content %>
  </div>
</div>
